<div class="buttons-container">
  <ion-button expand="block" class="google-btn" (click)="loginWithGoogle()" [disabled]="isLoading">
    <ion-spinner *ngIf="isLoading" name="crescent" slot="start"></ion-spinner>
    <ion-icon *ngIf="!isLoading" name="logo-google" slot="start"></ion-icon>
    {{ isLoading ? 'Conectando...' : 'Continuar con Google' }}
  </ion-button>
  
  <ion-button expand="block" fill="outline" class="email-toggle-btn" (click)="showEmailForm = !showEmailForm" [disabled]="isLoading">
    <ion-icon name="mail-outline" slot="start"></ion-icon>
    Usar Correo y Contraseña
  </ion-button>
</div>

<div *ngIf="showEmailForm" class="white-container ion-margin-top email-form">
  <ion-item *ngIf="isRegister" class="custom-item">
    <ion-label position="floating">Nombre Completo</ion-label>
    <ion-input type="text" [(ngModel)]="name" [disabled]="isLoading"></ion-input>
  </ion-item>
  <ion-item class="custom-item">
    <ion-label position="floating">Correo Electrónico</ion-label>
    <ion-input type="email" [(ngModel)]="email" [disabled]="isLoading"></ion-input>
  </ion-item>
  <ion-item class="custom-item">
    <ion-label position="floating">Contraseña</ion-label>
    <ion-input type="password" [(ngModel)]="password" [disabled]="isLoading"></ion-input>
  </ion-item>
  
  <ion-button expand="block" class="white-btn action-btn ion-margin-top" (click)="submitEmailForm()" [disabled]="isLoading">
    <ion-spinner *ngIf="isLoading" name="crescent" slot="start"></ion-spinner>
    <span *ngIf="!isLoading">{{ isRegister ? 'Registrarse' : 'Iniciar Sesión' }}</span>
    <span *ngIf="isLoading">Procesando...</span>
  </ion-button>

  <ion-button expand="block" fill="clear" size="small" class="switch-mode-btn" (click)="toggleMode()" [disabled]="isLoading">
    {{ isRegister ? '¿Ya tienes cuenta? Inicia sesión' : '¿No tienes cuenta? Regístrate' }}
  </ion-button>
</div>