<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/result-preview"></ion-back-button>
    </ion-buttons>
    <ion-title>Pago Seguro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">

  <div class="ion-text-center ion-margin-bottom">
    <ion-icon name="lock-closed-outline" size="large" color="success"></ion-icon>
    <h2>Desbloquear Informe Completo</h2>
    <p class="price">$4.99 USD</p>
  </div>

  <ion-list>
    <ion-item>
      <ion-label position="floating">Número de Tarjeta (Simulado)</ion-label>
      <ion-input type="tel" placeholder="0000 0000 0000 0000" [(ngModel)]="cardNumber"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Expiración (MM/YY)</ion-label>
      <ion-input type="text" placeholder="MM/YY" [(ngModel)]="expiry"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">CVC</ion-label>
      <ion-input type="tel" placeholder="123" [(ngModel)]="cvc"></ion-input>
    </ion-item>
  </ion-list>

  <ion-button expand="block" class="ion-margin-top" (click)="processPayment()">
    Pagar y Ver Resultados
  </ion-button>

  <p class="ion-text-center ion-text-small ion-padding-top" style="color: #666;">
    * Esto es una simulación. No se realizará ningún cargo real.
  </p>

</ion-content>
